.intern_contact {
    background: url("/img/bg-contact.jpg") no-repeat center;
    background-size: cover;
}

/* Feedbacks */

.contact {
    padding: 50px 0;
    font-family: monospace;
    font-size: 1.3em;
}

.cont_form {
    padding-right: 60px;
}

.cont_form label {
    display: block;
}

.cont_form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 4px solid #924b4b;
    border-radius: 5px;
    background: none;
    padding: 5px 0;
}

.cont_form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 4px solid #924b4b;
    border-radius: 5px;
    background: none;
    padding: 5px 0;
}

.cont_form button {
    padding: 7px 40px;
    border: 4px solid #924b4b;
    border-radius: 5px;
    background-color: #924b4b;
    cursor: pointer;
}

.cont_form button:hover {
    border: 4px solid #f0b27f;
    background-color: #f0b27f;
}

.data_contact {
    margin: 8px 0;
}

.data_contact h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}

.data_contact ul {
    padding: 0 40px 0 0;
}

.data_contact li {
    padding: 10px 15px;
}

.data_contact ul li:nth-child(odd) {
    background-color: #924b4b;
    border: 4px solid #924b4b;
    border-radius: 5px;
}

.data_contact ul li {
    display: inline-block;
}

.data_contact ul li a {
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    align-items: center;
    border: 3px solid #f0b27f;
    border-radius: 5px;
}

.data_contact ul li a:hover {
    border: 3px solid #000;
}

/* Map */
#map {
    margin: 0 auto;
    height: 500px;
    background: #f0b27f;
    z-index: -2;
    margin-bottom: 50px;

    border: 3px solid #924b4b;
    border-radius: 8px;
}