
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .company_list li {
    padding: 0 10px ;
  }
} 

@media only screen and (max-width: 1000px) {
  .store_3 {
    width: 442px;
    height: 260px;
  }

  .company::after{
    display: none;
  }

  .glider-next {
    right: 36px;
  }
  
  .glider-prev {
    left: 37px;
  }
} 

@media only screen and (max-width: 787px) {
  .header {
    position: relative;
  }

  .header img {
    margin: 0;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul {
    padding: 0;
  }

  .header_menu ul li {
    margin: 0;
  }

  .header_menu ul li a {
    border: 3px solid #ececec;
    border-radius: 4px;
    width: 148px;
    display: block;
    float: left;
    padding: 10px 10px;
  }

  .header_menu ul li a:hover {
    border-color: #f0b27f;
  }

  .store_1, .store_2, .store_3 {
    width: 253px;
    height: 287px;
  }

  .company::after{
    right: -140px;
  }

  .company_list li {
    padding: 0 10px ;
  }

  .container {
    width: 350px;
  }

  .company::after {
    display: none;
  }

  .intro_about {
    width: 100%;
    margin-top: 0px;
  }

  .coffee {
    height: 236px;
    width: 352px;
  }

  .blackcoffee_icon {
    width: 349px;
  }

  .coffees_item h2 {
    margin-top: 93px;
  }

  .coffee2_text ul li {
    float: center;
    width: 149px;
    height: 100px;
  }

  .coffee2_text {
    height: 478px;
    width: 350px;
  }

  .coffee2_text ul {
    padding: 20px;
  }

  .glider-next {
    right: -41px;
  }
  
  .glider-prev {
    left: -25px;
  }

}